# Build artifacts
build/
dist/
*.spec
__pycache__/

# Source files (Explicitly allowed)
!src/index.html

# Large data files
*.html
*.htm
*.csv
!src/index.html

# Python environment
venv/
.env

# OS files
.DS_Store
Thumbs.db
