# Build artifacts
build/
dist/
build_tools/*.spec
__pycache__/

# Data and Artifacts (Private)
data/reports/*.html
data/reports/*.htm
artifacts/
scratch/

# Application Source
!app/ui/index.html

# Generic ignores
*.csv
venv/
.env

# OS files
.DS_Store
Thumbs.db

